<a href="https://colab.research.google.com/github/Shivam4356/Shivam/blob/main/some%20problems_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.What is indentation error? Why indentation is important? Give one simple example?
Ans: the indentation error is not using the space before the statement , indentation is important because if you can't give the indentation you see the indentation block error in python and you are not able to run the program.

Example indentation

In [2]:
assigment = True

if assigment: 
print(let do the assignment)

IndentationError: ignored

In [5]:
assigment = False
if assigment:
        print("let do the assignment")
else:
        print("not do the assigment")

not do the assigment

Correct the following code and write the comment where you made the correction?

  ```python
  class_started = bool(input("Hey friend, is class started?: [0-False/1-True]"))

  if class_started:
      print("Since class started...")
      print("Lets concentrate")
  else:
      print("Since class is not started...")
      print("let's revise")    
  ```
  Ans : I made the correction indentation error before if and else statment.

In [25]:
class_started = bool(input("Hey friend, is class_started?:[0-False/1-True]"))

if class_started:
        print("Since class started")
        print("Lets concentrate")
else:
      print("Since class is not started")
      print("let's revise")

Hey friend, is class_started?:[0-False/1-True]
Since class is not started
let's revise

Use if else condition to verify that dataype of `input()` method in python is always string.

In [40]:
c = int (input("enter the value of c: "))
d = int (input("enter the value of d: "))
if c == d :
  print("c is equal d")
else:
  print("c is not equal d")

enter the value of c: 5
enter the value of d: 6
c is not equal d

Take 3 variables and assign integer values to them. Find the largest variable, by only using the if and else conditions.

In [68]:
a = 3
b = 5
c = 7 
if c>b>a:
  print("c is biggest variable")
  print(f"enter the value : {c} ")
else:
    print("a is smallest variable")

c is biggest variable
enter the value : 7

What would be the solution?
    1. True
    2. False

    ```python
    a = 6
    b = 10
    print( not ( not a == 10 or not b == 10) )
    ```
    Ans : False

Find the answer as well as find out the reason behind the result? -
    - case 1:
        ```python
        A = 5.0
        B = 10/2
        print(A is B)
        ```
    - case 2:
        ```python
        A = 5.0
        B = int(10/2)
        print(A is B)
        ```
    - case 3:
        ```python
        A = 5.0
        B = float(10/2)
        print(A is B)
        ```

Case 1.

it's false because a value is decimal if 2 div by 10 then there is no reminder

In [71]:
 a == b
 a = 5.0
 b = 10/2
print(a is b)

False

Case 2.
same here

In [70]:
 a = 5.0
 b = int(10/2)
 print(a is b)

False

Case 3.

i am not sure but you can't use datatype assign the value in variable.

In [96]:
A = 5.0 
B = float(10/2)
print(A is B)

False

Try to understand the following examples and answer the question based on it -
Arithmatic Operators

Operation	Meaning
+	addition
-	subtraction
*	multiplication
/	true division
//	integer division
%	the modulo operator
Here +, -, *, / are regular arithmatic operators. Lets look at the // and % operators

Usecase or examples -

var_a = 5
var_b = 25
integer_division = var_b // var_a
print(f"integer division: {var_b}/{var_a}={integer_division}")
OUTPUT: integer division: 25/5=5

var_a = 3
var_b = 25
integer_division = var_b // var_a
print(f"integer division: {var_b}/{var_a}={integer_division}")
OUTPUT: integer division: 25/3=8

var_a = 5
var_b = 25
remainder = var_b % var_a
print(f"remainder: {var_b}/{var_a} is {remainder}")
OUTPUT: remainder: 25/5 is 0

var_a = 3
var_b = 25
remainder = var_b % var_a
print(f"remainder: {var_b}/{var_a} is {remainder}")
OUTPUT: remainder: 25/3 is 1

Answer below questions on the above theory -
Write a program that asks the user to enter a number. You should print out a message to the user, either “That number is divisible by either 3 or 5”, or “That number is not divisible by either 3 or 5”. Be sure to consider the data type of the input you are taking in from the user. Use a single if/else block to solve this problem.

Take user input for length and width. Then calculate the area of rectangle. Also print as per length and width whether its a square of rectangle.

Take two variable radius_1 and radius_2 and calculate the area of circle_1 and circle_2. Also print which circle has large area. If area is equal then print area is equal.

Check whether a year is leap year or not. Use nested if...else to solve this problem. A leap year is exactly divisible by 4 except for century years (years ending with 00). The century year is a leap year only if it is perfectly divisible by 400.

[ ]

Write a program that asks the user to enter a number. You should print out a message to the user, either “That number is divisible by either 3 or 5”, or “That number is not divisible by either 3 or 5”. Be sure to consider the data type of the input you are taking in from the user. Use a single if/else block to solve this problem

In [104]:
var_a = int(var_a)
var_b = int(var_b)
integer_division = (var_b) // (var_a)
print(f"integer division: {var_b}/{var_a}={integer_division}")
print(f"enter the number : {var_a} , {var_b} ")
if var_b // var_a :
  print("That number is divisible by either 3 or 5")
else:
  print("That number is not divisible by either 3 or 5")

integer division: 1/1=1
enter the number : 1 , 1
That number is divisible by either 3 or 5

Take user input for length and width. Then calculate the area of rectangle. Also print as per length and width whether its a square of rectangle.

In [118]:
length_of_a = 4
width_of_b  = 7
rectangle = a*b
print(f"area of the rectangle is : {rectangle}")
square = a**2+b**2
print(f"square of the rectangle is : {square}")

area of the rectangle is : 28
square of the rectangle is : 65

Take two variable radius_1 and radius_2 and calculate the area of circle_1 and circle_2. Also print which circle has large area. If area is equal then print area is equal.

In [122]:
radius_1 = 15
radius_2 = 30
area_1 = int(22/7*15**2)
print(f"circle of the area is : {area_1} ")
area_2 = int(22/7*30**2)
print(f"circle of the area is : {area_2} ")
if area_2>area_1 :
  print("area 2 is large area")
else:
    print("area 1 is small area")

circle of the area is : 707
circle of the area is : 2828
area 2 is large area

Check whether a year is leap year or not. Use nested if...else to solve this problem. A leap year is exactly divisible by 4 except for century years (years ending with 00). The century year is a leap year only if it is perfectly divisible by 400.

In [132]:
century_year = 5000
current_year = 400
if century_year/current_year:
  print("century year is leap year")
if century_year==current_year:
  print("this is not perfect year")
else:
  print("this is not century year")

century year is leap year
this is not century year